@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&family=DM+Mono:wght@400;500&display=swap');

/* ── Reset & Base ── */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;

  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 70%;
  height: 70%;
  border-radius: 50px;
  background-color: white;
  position: relative;
}

.form-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  top: 50px;
}

.form-input {
  display: flex;
  align-items: center;
  gap: 50px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.input-head {
  font-size: 0.8rem;
}

.input-sub {
  color: rgb(199, 199, 199);
  font-size: 0.7rem;
}

input,
select {
  padding: 6px 12px;
  width: 100%;
  border: 1px solid rgb(199, 199, 199);
  outline: none;
  font-size: 0.8rem;
  border-radius: 10px;
  border-left: 8px solid rgb(0, 162, 255);
}

input::placeholder {
  color: rgb(199, 199, 199);
}

button {
  padding: 6px 12px;
  width: 80px;
  background-color: rgb(0, 162, 255);
  outline: none;
  border: none;
  font-size: 0.8rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: block;
}

button:active {
  transform: scale(0.99);
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 162, 255);
  gap: 80px;
  padding: 12px;
  color: white;
}

.todo-items{
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}

.emptyState{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  color: rgb(199, 199, 199);
}

.emptyState i{
  font-size: 2rem;
}